---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Estudiante",
    company: "Universidad Politécnica de San Luis Potosí",
    description:
      "Soy estudiante de Ingeniería en Tecnologías de la Información, con experiencia sólida en el desarrollo de sitios web, aplicaciones y gestión de bases de datos. Actualmente, estoy enfocando mi formación y proyectos hacia la ciberseguridad, trabajando activamente en fortalecer mis habilidades en pentesting y respuesta ante incidentes. Mi objetivo es combinar mi capacidad para crear soluciones digitales innovadoras con una especialización técnica que me permita optimizar procesos y garantizar la protección de activos en entornos digitales complejos.",
  },
  {
    date: "Julio 2024 - Actualidad",
    title: "Maestro de Educación Primaria - Secundaria",
    company: "Cdisruptive",
    description:
      "Como instructor especializado por parte de la empresa Cdisruptive, imparto actualmente clases de Robótica y Electrónica a nivel primaria y secundaria en el Instituto Cervantes Apostólica. En este rol, diseño e implemento actividades pedagógicas innovadoras centradas en el desarrollo de habilidades STEM, fomentando el aprendizaje activo y el pensamiento lógico mediante el ensamblaje de circuitos y la programación de prototipos. Logro potenciar el interés tecnológico de los estudiantes y mejorar sus capacidades técnicas mediante metodologías adaptativas que integran la innovación y el trabajo colaborativo en el aula.",
    link: "https://www.cdisruptive.com",  
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>